@tailwind base;
@tailwind components;
@tailwind utilities;

* {
     box-sizing: border-box;
       /* overflow-y: hidden;     */

 }

 body {
     margin: 0;
     font-family: 'Lato', sans-serif !important;

 }